h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

.menu, .menu ul, .menu li, .menu a {
  text-align: center;
  color: #000;
  max-width: 100%; }
  .menu ul {
    list-style: none; }
  .menu li {
    display: inline-block;
    padding: 15px; }
  .menu a {
    text-decoration: none;
    color: #000;
    font-size: 16px; }

body {
  overflow-x: hidden; }

html {
  font-family: 'sans-serif';
  src: url("../Clase/fuentes/SourceSansPro-Regular.ttf");
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  src: url("../Clase/fuentes/Roboto-Regular.ttf");
  background-color: #FFF; }

header {
  color: #FFF;
  background-color: #004AAD; }

.logo_img {
  text-align: center; }
  .logo_img img {
    display: inline-block;
    max-width: 100%;
    width: auto;
    height: 200px; }

.footer-v1 {
  text-align: left;
  background-color: #004AAD; }
  .footer-v1 img {
    display: inline-block;
    max-width: 100%;
    height: 200px; }
  .footer-v1 a {
    color: #FFF;
    font-size: 14px; }
  .footer-v1 ul {
    list-style: none;
    margin-bottom: auto; }
  .footer-v1 a {
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 16px; }

.relleno {
  justify-content: center;
  display: flex;
  padding: 10%;
  padding-top: 10px;
  padding: 10px;
  max-width: 100%; }
  .relleno .formulario {
    padding-left: 13px;
    padding-right: 13px;
    max-width: 100%; }
  .relleno .img-contact img {
    text-align: center;
    width: 50px;
    height: auto; }

.container-filter .filter {
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  height: 60px;
  max-width: 100%; }

.encuentranos {
  justify-content: center;
  display: flex;
  padding: 10%;
  padding-top: 10px;
  padding-bottom: 5%;
  max-width: 100%; }
  .encuentranos iframe {
    display: inline-block;
    width: 283px;
    height: 400px;
    margin-bottom: 20px; }
  .encuentranos ul {
    list-style: none; }

.container-rrss {
  justify-content: center;
  display: flex;
  padding: 20%;
  padding-top: 10px;
  padding-bottom: 5%;
  max-width: 100%; }
  .container-rrss h3 {
    text-align: center; }
  .container-rrss h5 {
    margin-left: 20px; }
  .container-rrss a {
    text-decoration: none; }
  .container-rrss ul {
    list-style: none; }
  .container-rrss .card {
    margin-bottom: 10px; }
  .container-rrss .iconrs svg {
    width: 30px;
    height: auto;
    padding: 5px;
    padding-left: 0px; }

.container-envios {
  display: flex;
  padding: 30%;
  padding-top: 10px;
  padding-bottom: 5%;
  text-align: center; }

.container-principal {
  padding: 10%;
  padding-top: 10px;
  padding-bottom: 5%;
  text-align: left; }
  .container-principal .img-thumbnail {
    margin-bottom: 30px;
    margin-left: 30px;
    height: 150px;
    width: auto; }
  .container-principal h2 {
    font-size: 20px; }
  .container-principal h3 {
    margin-bottom: 20px;
    font-size: 18px; }
  .container-principal ul {
    list-style: none; }
  .container-principal a {
    text-decoration: none; }
  .container-principal .img-thumbnail:hover {
    transform: scale(1.2, 1.2); }

.container-productos {
  padding: 10%;
  padding-top: 10px;
  padding-bottom: 5%;
  text-align: left; }
  .container-productos .img-thumbnail {
    margin-bottom: 30px;
    margin-left: 30px;
    height: 150px;
    width: auto; }
  .container-productos h2 {
    font-size: 20px; }
  .container-productos h3 {
    margin-bottom: 20px;
    font-size: 18px; }
  .container-productos ul {
    list-style: none; }
  .container-productos a {
    text-decoration: none; }
  .container-productos .img-thumbnail:hover {
    transform: scale(1.2, 1.2); }
  .container-productos .tutorial {
    height: 315px;
    width: auto;
    max-width: 100%; }

.card {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }
