header{
    color: #FFF;
    background-color: #004AAD;	
}
.logo_img{
    text-align: center;
    img{
        display: inline-block;
        max-width: 100%;
        width: auto;
        height: 200px;	
    }
}