html{
    font-family: 'sans-serif';
    src: url('../Clase/fuentes/SourceSansPro-Regular.ttf');
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    src: url('../Clase/fuentes/Roboto-Regular.ttf');
    background-color: $bg_claro;		
}