.relleno{
    justify-content: center;
    display: flex;
    padding: 10%;
    padding-top: 10px;
    padding: 10px;
    max-width: 100%;

    .formulario{
        padding-left: 13px;
        padding-right: 13px;
        max-width: 100%;
    }
    .img-contact img{
        text-align: center;
        width: 50px;
        height: auto;
    }
    
}